version: '3'

services:
  backend:
    build: ./backend
    ports:
      - '6000:6000'
    depends_on:
      - db
    volumes:
      - ./backend:/go/src/app
    tty: true
    stdin_open: true
  db:
    image: mysql:5.7
    hostname: engineer-exam-mysql-host
    volumes:
      - mysql_data:/var/lib/mysql/
    environment:
      MYSQL_DATABASE: engineer-exam
      MYSQL_USER: root
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    ports:
      - '3306:3306'

volumes:
  mysql_data:
